#ct-grammar {
    resize: vertical;
    font-family: monospace;
}

#ct-firstset-symbols {
    resize: vertical;
    font-family: monospace;
}

#ct-firstset-result {
    font-family: monospace;
}

.ct-tool-menuitem {
    font-variant: small-caps;
}
